body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #222222;
  margin: 0;
  padding: 10;
  color: #d0d0d0;
}

a {
  color: #00B7FF;
}

#mainmenu {
  padding: 20px;
  color: #ffffff;
  font-size: 200%;
}

#mainmenu h1 {
  color: #ffffff;
  font-size: 250%;
}

#editor {
  min-width: 520px;
  min-height: 700px;
}

#target {
  position: absolute;
}

#annotations {
  position: absolute;
}

#controls {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 1px;  
}

#start input {
  padding: 10px;
  border: 1px;
  width: 60%;
  margin-right: 10px;
}

#controller {
  display: none;
}

#controls button {
  background-color: rgb(223, 223, 223);
  padding: 20px;
  font-size: 120%; 
  font-weight: bold;
}

#instructions {
  font-size: 130%;
  margin-top:50px;
}
