body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor {
  min-width: 520px;
  min-height: 520px;
}

#annotations {
  position: absolute;
}

#controls {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 1px;  
}