<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style-forest.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.min.js'></script>
    <script src='/javascripts/helpers.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
