<section id="mainmenu">
    <h1>{{title}}</h1>
    <p>Hack, plant, and grow.</p>
    <p>Get started by opening a <a href="/controller">grafting bench</a> and a <a href="/forest">clearing</a>.</p>
</section>