<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section>
    <ul>
        <li><a href="/forest">View the forest</a></li>
        <li><a href="/controller">Control the forest</a></li>
    </ul>
</section>