<script src='/javascripts/client.board.js'></script>

<section id="gameboard">
    <div id="narrative">
        <div id="info">
            <h1 id="title"></h1>
            <p id="description"></p>
            <p id="version"></p>
        </div>
        <hr/>
    </div>
    <div id="prompt">
       <span id="prompt-character">&gt;</span><input aria-label="Command Prompt" id="prompt-box"></input>
    </div>
</section>

<iframe id="gamewindow" title="Game Window"></iframe>