<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.min.js'></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src='/javascripts/manifesto.bundle.js'></script>
    <script src='/javascripts/helpers.js'></script>
    <script src='/javascripts/constants.js'></script>

    {{#each resources}}
      <script src='/resources/{{this}}'></script>  
    {{/each}}
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
